#user{
    height: 40px;
    width: 40px;
    background-color: #2c87d1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}
#user:active{
    opacity: .5;
}

#user i{
    font-size: 20px;
    color: #fff;
}