#user{
    height: 40px;
    width: 40px;
    background-color: #2c87d1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}
#user:active{
    opacity: .5;
}

#user i{
    font-size: 20px;
    color: #fff;
}
#logo{
    font-size: 50px;
}
#main-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: sans-serif;
}
#main-container h3{
    text-align: center;
    font-style: italic;
    color: #888;
}
#main-container #get-started-btn{
    padding: 15px;
    width: 150px;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-size: 17px;
    background-color: #edca4c;
    cursor: pointer;
}
footer{
    position: absolute;
    bottom: 10px;
    font-family: sans-serif;
    font-size: 15px;
    color: #ccc;
}
