body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#user {
  height: 40px;
  width: 40px;
  background-color: #2c87d1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
.aboutGame{
    margin: 30px auto;
}
.aboutGame .aboutP{
    font-size: 15px;
    padding: 15px;
    text-align: center;
    font-family: sans-serif;
}
.aboutGame h2{
    padding-left: 10%;
    font-family: sans-serif;
}
#user:active {
  opacity: 0.5;
}

#user i {
  font-size: 20px;
  color: #fff;
}
#leader-board{
  position: absolute;
  background-color: #2c87d1;
padding: 10px;
border-radius: 5px;
left: 20px;
  top: 20px;
}
#leader-board  a {
  text-decoration: none;
  font-family: sans-serif;
  color: #fff;
}

#logo {
  font-size: 50px;
}
#main-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: sans-serif;
  background-color:#ffd154;
  padding: 15px;
  margin: 0 auto;
}
#main-container h3 {
  text-align: center;
  color: #111;
  font-size: 16px;
  font-weight: 400;
}
#main-container #get-started-btn {
  padding: 15px;
  width: 150px;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-size: 17px;
  background-color: #2c87d1;
  cursor: pointer;
  font-family: sans-serif;
}
#game-container {
  width: 90%;
  height: 70%;
  background-color: #cf2536;
  margin: 80px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-family: sans-serif;
  cursor: pointer;
  text-align: center;
  padding: 10px;
}
#game-container p {
  font-style: italic;
  text-align: center;
}
#game-container .clickToStart {
  font-size: 25px;
}
.buttons{
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.buttons .saveBtn {
  background: #ffd154;
  border: none;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 10px;
  font-family: sans-serif;
  font-size: 13px;
  color: #333;
  font-style: oblique;
  text-align: center;
}
footer a{
    background:#2c87d1;
    padding: 7px;
    text-decoration: none;
    border-radius: 10px;
    color: #fff;
}
.backHome{
     background:#2c87d1;
    padding: 7px;
    text-decoration: none;
    border-radius: 10px;
    color: #fff;
    font-family: sans-serif;
}
#leader-board-container{
  margin: 30px auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}
#leader-board-container .user-ranking{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 5px;
  font-family: sans-serif;
  font-weight: 600;
}

#leader-board-container .user-ranking .user-logo{
height: 40px;
width: 40px;
display: flex;
align-items: center;
justify-content: center;
background-color: #ffd154;
font-family: sans-serif;
font-weight: 800;
border-radius: 50%;
}
 
.user-ranking:nth-child(odd){
  background-color: #2c87d1;
  color: #fff;
}
.user-ranking:nth-child(even){
  background-color: #95c2e8;
  color: #fff;
}


